/*Part 1*/

strong { 
	background-color: #8df;
	color: #f00;
	font: 200% serif;
}

/* .carrot { 
	color: orange; 
} */

.spinach { 
	color: #5b9; 
}

#first { 
	font-style: italic; 
	color: #00f;
}

#second {
	position: fixed;
	top: 2px;
	left: 250px;
	color: #00f;
}

/* paragraphs */
p {
	color: #000; 
}

body {
	font: 16px "Comic Sans MS", cursive;
	line-height: 20px;
	background: url("Blue-rule.png");
}

p:before {
	content: url("Yellow-pin.png");
}

/*Part 2*/

/* numbered paragraphs */
h3.numbered {counter-reset: mynum;}
 
p.numbered:before {
  content: counter(mynum) ": ";
  counter-increment: mynum;
  font-weight: bold;
}

li {
	list-style: lower-roman;
	margin-bottom: 8px;
}

body {
	counter-reset: headnum;
}

h3:before {
  content: "(" counter(headnum, upper-latin) ") ";
  counter-increment: headnum;
}

h3 {
	border-top: 1px solid gray;
}

h3 {
	clear: left;
}

ul, #numbered {
	border: 10px solid darkgreen;
}

ul, #numbered {
	float: left;
}

#fixed-pin {
	position: fixed;
	top: 5px;
	right: 5px;
}

/*Part 3*/

#demo-table {
  font: 100% sans-serif;
  background-color: #efe;
  border-collapse: collapse;
  empty-cells: show;
  border: 1px solid #7a7;
}

#demo-table > caption {
  text-align: left;
  font-weight: bold;
  font-size: 200%;
  border-bottom: .2em solid #4ca;
  margin-bottom: .5em;
}

#demo-table {
	position: fixed;
	top: 580px;
	left: 10px;
}

/* basic shared rules */
#demo-table th,
#demo-table td {
  text-align: right;
  padding-right: .5em;
}

#demo-table th {
  font-weight: bold;
  padding-left: .5em;
}


/* header */
#demo-table > thead > tr:first-child > th {
  text-align: center;
  color: blue;
}

#demo-table > thead > tr + tr > th {
  font-style: italic;
  color: gray;
}

/* fix size of superscript */
#demo-table sup {
  font-size: 75%;
}

/* body */
#demo-table td {
  background-color: #cef;
  padding:.5em .5em .5em 3em;
}

#demo-table tbody th:after {
  content: ":";
}


/* footer */
#demo-table tfoot {
  font-weight: bold;
}

#demo-table tfoot th {
  color: blue;
}

#demo-table tfoot th:after {
  content: ":";
}

#demo-table > tfoot td {
  background-color: #cee;
}

#demo-table > tfoot > tr:first-child td {
  border-top: .2em solid #7a7;
}

/*borders on table*/
#demo-table tbody td {
  border:1px solid #7a7;
}
