body {
  font: 24px, Helvetica;
  background: #999;
}
#main {
  min-height: 80px;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-flow: row;
}
#main > article {
  margin: 0px;
  padding: 6px;
  border: 1px solid #cc3;
  border-radius: 1pt;
  background: #dd8;
  flex: 3 1 60%;
  order: 2;
}
font: Monospace,
Lucida Console {
  font-style: italic;
}
#main > nav {
  margin: 0px;
  padding: 6px;
  border: 1px solid #88b;
  border-radius: 1pt;
  background: #ccf;
  flex: 1 6 20%;
  order: 1;
}
#main > aside {
  margin: 0px;
  padding: 6px;
  border: 1px solid #88b;
  border-radius: 1pt;
  background: #ccf;
  flex: 1 6 20%;
  order: 3;
}
header,
footer {
  font-size: 50px;
  display: block;
  margin: 0px;
  padding: 6px;
  min-height: 100px;
  border: 1px solid #eb5;
  border-radius: 1pt;
  background: #feb;
}
header {
  font-size: 100px;
  color: #a47;
}
#header > div {
  margin: 2px;
  padding: 0px;
  border: 1px solid #88b;
  border-radius: 1pt;
  flex: 1 6 20%;
}
@media all and (max-width: 640px) {
  #main,
  #page {
    flex-direction: column;
  }
  #main > article,
  #main > nav,
  #main > aside {
    order: 0;
    text-align: right;
  }
  #main > nav,
  #main > aside,
  header,
  footer {
    min-height: 50px;
    max-height: 50px;
  }
}
/*text alignment for phone*/
@media only screen and (max-width: 786px) {
  [class*="col-"] {
    text-align: left;
    max-height: 50px;
    min-height: 50px;
  }
}
